<div class="grid-container" style="padding-top: 50px; padding-bottom: 300px; overflow-y: hidden;">
	<div class="grid-x grid-margin-x grid-margin-y">
		<div class="cell small-12 medium-3">
			<%= link_to daily_planner_path do %>
				<div class="cockpit-tile-1 text-center">
					<div class="cockpit-icon" style="font-size: 100px;">
						<i class="fas fa-swimmer"></i>
					</div>
					<div class="cockpit-text">
						<h2>Swimdeck App</h2>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>