<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @competency_level.title %>
</p>

<%= link_to 'Edit', edit_competency_level_path(@competency_level) %> |
<%= link_to 'Back', competency_levels_path %>
