<div class="top-bar" id="responsive-menu" style="background-color: #29353d; ">
  <div class="top-bar-left">
    <ul class="menu" data-dropdown-menu style="background-color: #29353d;" >
      <li><%= link_to "Dashboard", user_profiles_pool_deck_leader_path %></li>
      <li><%= link_to "Inbox", inbox_path %></li>
      <li><%= link_to "My Settings", edit_user_registration_path%></li>
      <li><%= link_to "My Lessons", lessons_path%></li>
    </ul>
  </div>
</div>
