@media print {
	.top-bar{
		display: none;
	}

	tbody th, tbody td {
	     padding: 0 !important;
	}
	
}

.topside-ninety{
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}