@media print {
	.top-bar{
		display: none;
	}

	.auto{
		font-size: 11px;
	}

	
}

.topside-ninety{
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		font-weight: bold;
		font-size: 10px;
		text-align: right;
		margin-top: 50px;
		margin-right: 20px;
		margin-bottom: 20px;
	}