@media print {
	.top-bar{
		display: none;
	}

	
}

.topside-ninety{
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		font-weight: bold;
	}